html, html * {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #202020;
    text-shadow: rgba(32, 32, 32, 0.15) 0 0 1px;
}

html {
    background: linear-gradient(to bottom right, #468cfc, #2f62b6);
    height: 100%;
}

label {
    font-weight: bold;
}

input {
    border-radius: 3px;
    border-style: solid;
    border-width: 2px 1px 1px 1px;
    border-color: rgb(97, 97, 97);
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.8);
}

input:hover,
input:focus {
    box-shadow: 0px 0px 8px rgba(201, 201, 201, 0.5);
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
    padding: 2px 14px;
    background-color: rgba(233, 233, 233, 0.8);
    border-top-width: 1px;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
    cursor: pointer;
    background-color: rgba(240, 240, 240, 0.8);
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
    padding: 2px 13px 2px 15px;
}

.input {
    padding-bottom: 5px;
}