html {
    background: black;

    * {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: #202020;
        text-shadow: rgba(32, 32, 32, 0.15) 0 0 1px;
    }
} 

.background-blur {
    background: linear-gradient(to bottom right, #468cfc, #2f62b6);
    background-image: url("images/duluth_1000.jpg");
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

body {
    margin: 0;
}

.navBar {
    background: #2f2f2f;
    height: 45px;
    box-shadow: 0px 0px 8px rgb(78, 78, 78);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    .menuItem {
        text-decoration: none;
        display: inline-block;
        padding: 11px;
        font-size: 18px;
    
        &:hover {
            cursor: pointer;
        }
    }
}

.socialMedia {
    font-size: 25px;
    width: 35px;
    height: 30px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 4px;
    margin-top: 1px;
    margin-left: 1px;

    &:hover {
        border-right-width: 2px;
        border-bottom-width: 2px;
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: -1px;
    }

    &:active {
        border-width: 1px;
        margin-left: 1px;
        margin-top: 1px;
        margin-bottom: 0px;
    }

    &.fa-twitter:hover {
        color: #3eadff;
    }

    &.fa-linkedin:hover {
        color: #13509f;
    }

    &.fa-facebook:hover {
        color: #2c54c8;
    }

    &.fa-github:hover {
        color: #444141;
    }

    &.fa-youtube:hover {
        color: #cc0a0a;
    }

    &.fa-instagram {
        color:transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-image: #000000; 
        background-image: -moz-linear-gradient(45deg, #000000 0%, #000000 25%, #000000 50%, #000000 75%, #000000 100%); 
        background-image: -webkit-linear-gradient(45deg, #000000 0%,#000000 25%,#000000 50%,#000000 75%,#000000 100%); 
        background-image: linear-gradient(45deg, #000000 0%,#000000 25%,#000000 50%,#000000 75%,#000000 100%); 
        &:hover {
            background-image: #f09433; 
            background-image: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
            background-image: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
            background-image: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        }            
    }

    &.fa-stack-overflow:hover {
        color: #ed8612;
    }

    &:hover {
        cursor: pointer;
    }
}

main {
    background: white;
    border-color: rgb(114, 114, 114);
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 0px 20px rgba(68, 68, 68, 0.3);
    position: fixed;
    box-sizing: border-box;
}

label {
    font-weight: bold;
    text-align: right;
    display: inline-block;
}

input {
    border-radius: 3px;
    border-style: solid;
    border-width: 2px 1px 1px 1px;
    border-color: rgb(97, 97, 97);
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.8);

    &:hover,
    &:focus {
        box-shadow: 0px 0px 8px rgba(201, 201, 201, 0.5);
    }

    &[type="button"],
    &[type="submit"],
    &[type="reset"] {
        padding: 2px 14px;
        border-top-width: 1px;
        border-bottom-width: 2px;

        &:hover, &:focus {
            cursor: pointer;
        }

        &:active {
            padding: 2px 13px 2px 15px;
        }
    }
}

.input {
    padding-bottom: 5px;
}

.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .2);
}

.red {
    background: rgb(255, 116, 116);

    &:hover {
        background: rgba(255, 116, 116, 0.8);
    }
}

.orange {
    background: rgb(255, 175, 116);

    &:hover {
        background: rgba(255, 175, 116, 0.8);
    }
}

.yellow {
    background: rgb(255, 229, 116);

    &:hover {
        background: rgba(255, 229, 116, 0.8);
    }
}

.green {
    background: rgb(139, 255, 116);

    &:hover {
        background: rgba(139, 255, 116, 0.8);
    }
}

.cyan {
    background: rgb(116, 255, 250);

    &:hover {
        background: rgba(116, 255, 250, 0.8);
    }
}

.blue {
    background: rgb(116, 137, 255);

    &:hover {
        background: rgba(116, 137, 255, 0.8);
    }
}

.purple {
    background: rgb(168, 116, 255);

    &:hover {
        background: rgba(168, 116, 255, 0.8);
    }
}

.pink {
    background: rgb(255, 116, 229);

    &:hover {
        background: rgba(255, 116, 229, 0.8);
    }
}

@media only screen and (min-width: 769px) {
    .hamburger {
        display: none;
    }

    .menuItem {
        color: white;

        &:hover, &:focus {
            background: rgba(255, 255, 255, .05)
        }
    }
}

@media only screen and (max-width: 768px) {
    .navBar {
        display: grid;
    }

    .hamburger {
        color: white;
        padding: 5px 10px 4px 10px;
        font-size: 30px;

        &:hover, &:focus {
            cursor: pointer;
            background: rgba(255, 255, 255, .05)
        }
    }

    .menuItem {
        background: white;
        display: inline-block;
        z-index: 1;
        box-shadow: 0 10px 8px -8px rgb(78, 78, 78);

        &:hover, &:focus {
            background: rgb(249, 249, 249);
        }
    }
}

@media only screen and (min-width: 1501px) {
    main {
        width: 60%;
        margin: 0 20%;
        padding: 55px 10px 10px 10px;
    }
}

@media only screen and (max-width: 1500px) and (min-width: 1026px) {
    main {
        width: 70%;
        margin: 0 15%;
        padding: 55px 10px 10px 10px;
    }
}

@media only screen and (max-width: 1025px) and (min-width: 769px) {
    main {
        width: 80%;
        margin: 0 10%;
        padding: 55px 10px 10px 10px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 451px) {
    main {
        width: 90%;
        margin: 0 5%;
        padding: 50px 5px 5px 5px;
    }
}

@media only screen and (max-width: 450px) {
    main {
        width: 100%;
        padding: 46px 1px 1px 1px;
    }

    input {
        display: block;
    }
}